@use '../sass/abstracts/mixins';

.container {
    //background-color: black;
    padding-left: 1rem;
    padding-right: 1rem;
    @include mixins.breakpoint(tablet) {
        //background-color: orangered;
        width: 90%;
        margin: 0 auto;
    }

    @include mixins.breakpoint(laptop) {
        //background-color: yellowgreen;
        width: 980px;
        margin: 0 auto;
    }

    @include mixins.breakpoint(deskptop) {
        //background-color: yellowgreen;
        width: 1140pxp;
        margin: 0 auto;
    }
}